target/
nbproject/
nb-configuration.xml
demo/lib
demo/logs
demo/modules
demo/cms.pid
demo/*.jar
demo/LICENSE
demo/log4j2.xml
demo/README
demo/server.yaml
.vscode/settings.json
test-server/logs
test-server/cms.pid
test-server/hosts/demo/modules_data/ui-module
test-server/hosts/demo/temp/
test-server/hosts/demo/data/